<div class="page_header">
  <%= @message %>
</div>

<nav>
  <% if (user_signed_in?) %>
  <!-- Add something here for the user to see after they login -->

  <br>
  <span id="noticestyle">
    <%= @User.fname %> <%= @User.lname %>
  </span>


  <% else %>

  <div id="logging">
    <!-- User Resistration Button -->
    <form action="/users/sign_up">
      <input type="submit"  id="button1" value="Register" />
    </form>
    <!-- <%= link_to 'Register', new_user_registration_path %> -->

    <!-- User Login Button -->
    <form action="/users/sign_in">
      <input type="submit"  id="button2" value="Login" />
    </form>
    <!-- <%= link_to 'Login', new_user_session_path %> -->
  <% end %>
  </div>
</nav>
