<br>
<div class="page_header">
  Login
</div>
<br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="align_job">
    <%= f.label :email, :class => "labelStyle" %>
    <%= f.email_field :email, :class => "fieldStyle", autofocus: true %><br>
    <%= f.label :password, :class => "labelStyle" %>
    <%= f.password_field :password, :class => "fieldStyle", autocomplete: "off" %><br>

    <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me, :class => "fieldStyle" %>
        <%= f.label :remember_me, :class => "labelStyle" %>
    <% end -%>
    <br>
    <%= f.submit "Login", :class => "buttonJobSave" %>
</div>
<% end %>
<br>

<%= render "devise/shared/links" %>
