<% post = Post.new %>
<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="align_job3">
    <div class="field">
      <%= f.label :title, "Title:", :class => "labelStyle" %>
      <%= f.text_field :title, :class => "fieldStyle" %>
    </div>
    <div class="field">
      <%= f.label :subject, "Subject:", :class => "labelStyle" %>
      <%= f.text_field :subject, :class => "fieldStyle" %>
    </div>

    <div class="field">
      <%= f.label :content, "Content:", :class => "labelStyle" %>
      <%= f.text_area :content, :class => "fieldStyle" %>
    </div>

    <div class="actions">
      <%= f.submit "Submit", :class => "buttonJobSave2" %>
    </div>
  </div>
<% end %>
