<!DOCTYPE html>
<html>
  <head>
    <title>Tutortorial</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="backimg">

    <div id="navbar">
      <div id="navbar2">
  			<ul>
  				<li id="home"><a href="/">Home</a></li>
  				<li id="tutors"><a href="#" class="dropbtn">Tutors</a>
  					<div class="drop_down_4all" id="drop_down_tutors">
  						<div class="drop_down_tutors_sub">
  							<a href="/users/sign_up">Register New</a>
  						</div>
  						<div class="drop_down_tutors_sub">
  							<a href="/users/:id/edit">Edit Existing</a>
  						</div>
  						<div class="drop_down_tutors_sub">
  							<a href="/">View All</a>
  						</div>
  					</div>
  				</li>
  				<li id="students"><a href="#" class="dropbtn">Students</a>
  					<div class="drop_down_4all" id="drop_down_students">
  						<div class="drop_down_students_sub">
  							<a href="/users/sign_up">Register New</a>
  						</div>
  						<div class="drop_down_students_sub">
  							<a href="/students/edit">Edit Your Profile</a>
  						</div>
  					</div>
  				</li>
          <li id="posts"><a href="#" class="dropbtn">Posts</a>
  					<div class="drop_down_4all" id="drop_down_posts">
  						<div class="drop_down_posts_sub">
  							<a href="/posts/index">View All</a>
  						</div>
  						<div class="drop_down_posts_sub">
  							<a href="/posts/new">Create New</a>
  						</div>
  					</div>
  				</li>
          <li id="signout"><%= link_to 'Sign Out',  { :action=>"destroy", :controller=>"devise/sessions" }, method: :delete  %></li>
  			</ul>
  		</div>
		</div>
    <br><br><br>

    <%= yield %>
    <span id="noticestyle">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </span>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
